.add-product {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #F4F2DC; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cont-form-add-product {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 7px;

    & .input-base {
        color: #6B4522;
    }
}

.add-img input[type="file"] {
    margin-left: 10px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    color: #6B4522;
}

.create-product-button {
    background-color: #A1BB23;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .2s ease;
    margin-top: 10px;
    width: 80%;
}

.create-product-button:hover {
    border: 1px solid #c0dc33;
    background-color: #c0dc33;
}

.title-addProduct {
    text-align: center;
    color: #6B4522;
    margin: 0;
    padding: 10px;
}
