/* <main className="product-main">
<header className="base-product-presentation">
    <h2>Compra los mejores productos</h2>
    <h3>Sabores que cuentan historias</h3>
</header>
<article className="product-container">
    <picture className="product-image">
        <img src={product.imagen} alt={product.nombre} />
    </picture>
    <div className="product-info">
        <h2>{product.nombre}</h2>
        <p>{product.descripcion}</p>
        <p>Precio: ${product.precio}</p>
        <button>Agregar al carrito</button>
    </div>
</article>
<section className="related-products">
    <h2>Productos relacionados</h2>
    <div className="related-products-container">
        {products.map((p) => (
            <article key={p.IDProducto} className="related-product">
                <picture>
                    <img src={p.imagen} alt={p.nombre} />
                </picture>
                <h3>{p.nombre}</h3>
                <p>${p.precio}</p>
            </article>
        ))}
    </div>
</section>
</main> */

.product-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.base-product-presentation {
    position: static;
    height: fit-content;
    background-color: transparent;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    gap: 10px;

    h2,
    h3 {
        padding: 0;
        margin: 0;
    }
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 80%;

}

.base-product-presentation h2{
    color: #6B4522;
    margin-top: 20px;
}

.base-product-presentation h3{
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 10px;
}

.product-image {
    width: 30%;
    display: flex;
    border-radius: 20px;
    border: 2px solid #6B4522;
    justify-content: center;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 20px;
    border-radius: 20px;

    h2 {
        color: #6B4522;
    }

    p {
        color: #000000;
    }

    .add-to-cart-button {
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 5px 15px;
        background-color: #6B4522;
        border: none;
        gap: 10px;
        color: white;
        border-radius: 5px;
    }
}

.hrproduct{
    border: 1px solid black;
}

.related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;

    h2{
        color: #A1BB23;
        margin-bottom: -20px;
    }
    p{
        margin-top: 0px;
    }
}

.related-products-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

/* 
<section className="tienda-info">
<picture>
    <img src={tienda.imagen} alt={tienda.nombre} />
</picture>
<p>{tienda.nombre}</p>
</section> */

.tienda-info {
    display: flex;
    align-items: center;
    gap: 20px;

    picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #A1BB23;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    p {
        color: rgb(0, 0, 0);
        
    }


}