.product-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-presentation {
    margin-top: 20px;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 20px;
}

.product-presentation h2 {
    color: #6B4522;
    margin-top: 20px;
}

.cont_img_descrip {
    width: 50%;
    display: flex;
    align-items: center;
}

.product-presentation h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 10px;
}

.product-img img {
    border-radius: 20px;
    border: 2px solid #6B4522;
    width: 60%;
}

.product-img {
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

.product-info {
    display: flex;
    width: 50%;
    border-radius: 20px;
    padding-top: 10px;

    h2 {
        color: #6B4522;
        margin: 0;
        margin-bottom: 7px;
    }

    p {
        color: #000000;
    }

    .info_description {
        height: 200px;
        width: 270px;
        padding-bottom: 20px;
    }

    .add-to-cart-button {
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 5px 15px;
        background-color: #6B4522;
        border: none;
        gap: 10px;
        color: white;
        border-radius: 5px;
    }
}

.related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border-radius: 10px;
    margin-bottom: 20px;

    h2 {
        color: #A1BB23;
        margin: 0;
    }

    p {
        margin-bottom: 20px;
        margin-top: 0px;
    }
}

.related-products-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
}

.title_aliados {
    width: 90%;
    text-align: center;
}

.tienda-info {
    display: flex;
    align-items: center;
    gap: 10px;

    picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #A1BB23;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .product-container {
        width: 100%;
    }

    .product-img img {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .product-img img {
        width: 90%;
    }
}

@media only screen and (max-width: 545px) {
    .product-info {
        width: 300px;
        padding: 0;
    }

    .product-img img {
        width: 100%;
        padding: 0;
    }

    .product-img {
        padding: 0;
    }

    .product-info {
        margin-top: 10px;
    }

    .cont_img_descrip {
        width: 300px;
    }
}