.content_products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product_list {
    width: 80%;
}

.product {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    width: 70%;
    margin-top: 10px;
    place-items: center;
}

.title_productsc {
    text-align: center;
}

.title_productsc h2 {
    color: #6B4522;
    margin-bottom: 0;
    font-size: 25px;
}

.title_productsc p {
    font-weight: 400;
    color:black;
    font-size: 17px;
    margin-top: 0;
}

.search_ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.busquedaProductos {
    padding: 10px;
    width: 400px;
    border-radius: 15px;
    border: 2px solid #6B4522;
}

/* Para pantallas más grandes que 1024px */
@media (min-width: 1024px) {
    .product {
        width: 70%; /* Tu ancho deseado */
        margin-top: 10px; /* Tu margen superior deseado */
    }
}

/* Para pantallas entre 768px y 1023px */
@media (max-width: 1023px) {
    .product {
        width: 80%; /* Por ejemplo, 80% del ancho de su contenedor */
        margin-top: 10px; /* Tu margen superior deseado */
    }
}

@media (max-width: 800px) {
    .product {
        width: 90%;
    }
}

@media (max-width: 712px) {
    .product {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .product {
        width: 75%;
    }
}

@media (max-width: 560px) {
    .product {
        width: 80%;
        margin-top: 0;
        gap: 0;
    }
}

/* Para pantallas entre 375px y 424px */
@media (max-width: 425px) {
    .product {
        width: 95%; /* Por ejemplo, 95% del ancho de su contenedor */
        margin-top: 10px; /* Tu margen superior deseado */
    }

    .busquedaProductos {
        width: 300px;
        margin: 0;
    }
}

@media (max-width: 375px) {
    .product {
        width: 100%; /* 100% del ancho de su contenedor */
    }

    .busquedaProductos {
        width: 250px; /* Por ejemplo, 250px de ancho */
    }
}