.title_products {
    text-align: center;
}

.title_products h2 {
    color: #6B4522;
    margin-bottom: 0;
    font-size: 25px;
}

.title_products p {
    font-weight: 400;
    color: rgb(71, 70, 70);
    font-size: 20px;
    margin-top: 0;
}

/* 
.serch_products h2 {
    color: #6B4522;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 4px;
} */

/* .serch_products {
    height: 250px;
} */

/* .serch_products p {
    margin-top: 0;
    color: rgb(82, 79, 79);
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
} */

.serch_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.busquedaProductos {
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid #6B4522;
}

.buscar {
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-left: 3px;
    background-color: #6B4522;
    color: #ffffff;
}

.buscar:hover {
    background-color: #7cc769;
}