em {
    color: #6B4522;
}

.images {
    width: 100px;
    height: 70px;
    margin-top: 10px;
}

.card_products {
    border: 2px solid #6B4522;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 185px;
    height: 232px;
    text-decoration: none;
    margin: 10px;
}

.card_products p {
    margin: 0;
}

.buys {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #6B4522;
    color: #ffffff;
}

.name_products {
    font-size: 18px;
    border-bottom: 2px solid #6B4522;
    width: 150px;
    text-align: center;
}

.price_discount{
    display: flex
}

.price_discount span{
    text-decoration: line-through;
}

.card_product button{
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    display: flex;
}

.card_product p{
    margin-left: 5px;
}

.agregarboton button{
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    background-color: #6B4522;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 3px 15px;
    border: 1px solid #6B4522
}

.agregarboton p{
    margin-left: 5px;
}
@media screen and (max-width: 992px) {
    .card_products {
        display: flex;
        justify-content: space-around;
        width: 63%;
        height: 25vh;
    }
}
@media screen and (max-width: 768px) {
    .card_products {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        width: 55%;
        height: 20vh;
    }
    .images {
        width: 80px;
        height: 50px;
        margin-top: 10px;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .buys {
        padding: 0px 0px;
        border-radius: 5px;
        border: none;
        background-color: #6B4522;
        color: #ffffff;
        /* margin-bottom: 20px; */
    }
    
    .name_products {
        font-size: 11px;
        border-bottom: 2px solid #6B4522;
        width: 100%;
        text-align: center;
    }
    
    .name_price_product {
        width: 100%;
        height: 15vh;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 8px;
    } 
    
    .price_discount{
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 100%;
        height: 3vh;
        font-size: 80%;
    }
    
    .price_discount span{
        text-decoration: line-through;
        font-size: 80%;
    }
    
    .card_product button{
        align-items: center;
        text-align: center;
        font-size: 10px;
        cursor: pointer;
        display: flex;
    }
    
    .card_product p{
        margin-left: 0px;
    }
    .agregarboton{
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .agregarboton .button-addToCartIcon{
        width: 80%;
        height: 2.4vh;
        text-align: center;
        font-size: 7%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6B4522;
        border-radius: 5px;
        color: white;
        padding: 3px 15px;
        border: 1px solid #6B4522;
        text-align: center;
    }
    
    .agregarboton p{
        margin-left: 5px;
    }
}
@media screen and (max-width: 390px) {
    .card_products {
        display: flex;
        justify-content: center;
        align-content: space-around;
        width: 45%;
        height: 25vh;
    }
    .images {
        width: 80px;
        height: 50px;
        margin-top: 10px;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .buys {
        padding: 0px 0px;
        border-radius: 5px;
        border: none;
        background-color: #6B4522;
        color: #ffffff;
        /* margin-bottom: 20px; */
    }
    
    .name_products {
        font-size: 11px;
        border-bottom: 2px solid #6B4522;
        width: 100%;
        text-align: center;
    }
    
    .name_price_product {
        width: 100%;
        height: 15vh;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 8px;
    } 
    
    .price_discount{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 1vh;
        font-size: 80%;
    }
    
    .price_discount span{
        text-decoration: line-through;
        font-size: 80%;
    }
    
    .card_product button{
        align-items: center;
        text-align: center;
        font-size: 10px;
        cursor: pointer;
        display: flex;
    }
    
    .card_product p{
        margin-left: 0px;
    }
    .agregarboton{
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
    }
    .agregarboton .button-addToCartIcon{
        width: 80%;
        height: 2.4vh;
        text-align: center;
        font-size: 7%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6B4522;
        border-radius: 5px;
        color: white;
        padding: 3px 15px;
        border: 1px solid #6B4522;
        text-align: center;
    }
    
    .agregarboton p{
        margin-left: 5px;
    }
}
