.card_product {
    border: 2px solid #6B4522;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 180px;
    height: 240px;
    text-decoration: none;
    margin: 10px;
}

.card_product .like-wrapper {
    background-color: white;
    border: 1px solid white;
    margin-left: 70%;
}

.button-remove {
    background-color: #6B4522;
    color: white;
    border: 1px solid #6B4522;
    padding: 5px 20%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.agregarbotona {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 17px;
}


.image_product {
    border-radius: 15px;
    /* aspect-ratio: 15/13; */
    display: block;
    object-fit: cover;
    width: 110px;
    height: 95px;
    /* margin-top: 10px; */
}

.a_card {
    text-decoration: none;
    color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_product p {
    margin: 0;
}

.buy {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #6B4522;
    color: #ffffff;
    margin-bottom: 10px;
}

.name_product {
    font-size: 18px;
    border-bottom: 2px solid #6B4522;
    width: 150px;
    text-align: center;
}

/* cristian nuevo añadir */
.button-addToCartIcon {
    background-color: #6B4522;
    border: 1px solid #6B4522;
    border-radius: 5px;
    padding: 3px 15px;
    color: white;

    &:hover {
        transform: translateY(-2px);
    }
}

.card_product button {
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    display: flex;
}

.card_product p {
    margin-left: 6px;
}