.cont1{
    display: flex;
    line-height: 8px;
    align-items: center;
    
}

.cont1 .tittles{
    text-align: right;
    margin-left: 0;
}

.cont1 .tittles h2{
    color: #A1BB23;
    text-shadow: 1px -2px 10px #A1BB23;
    font-size: 60px;
}

.cont1 .tittles h3{
    color:#6B4522;
    font-size: 35px;
    text-shadow: 1px -2px 10px #6B4522;

}


.slide {
    max-width: 65%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 0px 0px 400px 0px;
    box-shadow: 5px -2px 10px #6B4522;
}

.slide ul {
    display: flex;
    padding: 0;
    margin: 0; /* cristian */
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out;
}

.slide li {
    width: 100%;
    list-style: none;
    /* cubic-bezier(0.55, 0.48, 0.37, 0.92) */
}

.slide img {
    width: 100%;
    margin: 0;
    height: 400px;
}



@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.Profile_home {
    left: 95%;
    top: 110px;
    position: absolute;
    background-color: #6B4522;
    padding: 10px;
    border-radius: 50%;
}

.Profile_home button {
    background-color: #6B4522;
    border: none;
}

.Profile_home:hover {
    background-color: #8d5f34;
}

.a_title {
    text-decoration: none;
    color: #ffff;
}

.see_more_a {
    text-decoration: none;
    color: white;
}

.see_more_discount_a {
    text-decoration: none;
    color: #ffff;
}
.title_discount_home {
    color: #A1BB23;
    font-size: 25px;
}

.center_products_ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center_productsDiscount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.center_productsDiscount h2,
.title_recommended_markets h2,
.featured_product_title {
    margin-top: 50px;
    font-size: 35px;
    color: #6B4522;
    margin: 0;
    text-align: center;
}

.featured_product_title {
    margin-top: 30px;
}

.center_productsDiscount .featured_phrase_home,
.featured_product p,
.title_recommended_markets p {
    padding: 0;
    margin: 5px 0 15px 0;
    font-weight: 500;
    font-size: 16px;
}

.featured_product {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.products_discount {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.discount_color {
    width: 930px;
    background-color:#A1BB23;
    border-radius: 15px;
}

.see_more_discount {
    margin-top: 15px;
    padding: 8px 25px;
    border-radius: 12px;
    background-color: #A1BB23;
    color: #ffff;
    border: none;
}

.products_ {    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    width: 70%;
    margin-top: 10px;
    place-items: center;/* cristian */
}


.see_more_products {
    margin-top: 15px;
    padding: 8px 25px;
    border-radius: 12px;
    background-color:#6B4522;
    border: #6B4522 solid 2px;
    color: white;
}
.Cont_markets {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.markets {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 40px;
}
.hr {
    border: #A1BB23 solid 3px;
    border-radius: 6px;
    width: 30%;
    margin-bottom: 50px;
}
.hojasIzquierda{
    position: absolute;
    z-index: -20;
    left: -90px;
    transform: rotate(-8deg);
}
.hojasDerecha{
    position: absolute;
    z-index: -20;
    right: 0px;
    /* transform: rotate(370deg); */
    margin-top: 10px;
}
.hojasIzquierdabig{
    position: absolute;
    z-index: -20;
    left: -150px;
    transform: rotate(-8deg);
}
.hojasDerechabig{
    position: absolute;
    z-index: -20;
    right: 0px;
    /* transform: rotate(370deg); */
    margin-top: 17px;
}
.floating-chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    border-radius: 12px;
    padding: 20px;
    width: 50%; /* Ancho fijo */
    /* transition: all 0.3s ease; */
    overflow: hidden; /* Evita que el contenido se desborde */
    display: flex;
    flex-direction: column;
    align-items: end;
}
/* Estilos para el iframe del chat dentro del chatbot */
.floating-chatbot iframe {
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    width: 100%; /* Ocupa todo el ancho */
    min-height: 300px; /* Altura mínima */
}

/* Estilos para el botón de cerrar el chatbot (si es necesario) */
.close-chatbot {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #999; /* Color de texto gris */
    font-size: 24px;
    transition: color 0.3s ease;
}

.close-chatbot:hover {
    color: #333; /* Color de texto más oscuro al pasar por encima */
}

/* Estilos para la imagen del chatbot */
.img_chatBot {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    margin-left: 10px;
    bottom: 20px;
    right: 20px;
    z-index: 10000; /* Asegura que esté por encima de otros elementos */
    background-color: transparent; /* Establece el fondo transparente */
}

.floating-chatbot iframe {
    margin-right: 30px;
    border-radius: 20px;
    border: none;
}
@media screen and (max-width: 1680px) {
    .cont1{
        display: flex;
        line-height: 60%;
        align-items: center; 
    }
    
    .cont1 .tittles{
        width: 100%;
        height: 15vh;
        line-height: 0%;
        text-align: center;
    }
    
    .cont1 .tittles h2{
        color: #A1BB23;
        text-shadow: 1px -2px 4px #A1BB23;
        font-size: 270%;
    }
    
    .cont1 .tittles h3{
        color:#6B4522;
        font-size: 180%;
        text-shadow: 1px -1px 6px #6B4522;
    }
}
@media screen and (max-width: 1200px) {
    .cont1{
        display: flex;
        line-height: 60%;
        align-items: center; 
    }
    
    .cont1 .tittles{
        width: 100%;
        height: 15vh;
        line-height: 0%;
        text-align: center;
    }
    
    .cont1 .tittles h2{
        color: #A1BB23;
        text-shadow: 1px -2px 4px #A1BB23;
        font-size: 160%;
    }
    
    .cont1 .tittles h3{
        color:#6B4522;
        font-size: 100%;
        text-shadow: 1px -1px 6px #6B4522;
    }
}
@media screen and (max-width: 992px) {
    /* Adjustments for screens up to 992px width */
    .slide {
        max-width: 80%; /* Adjust width for smaller screens */
    }
    .cont1 .tittles{
        width: 100%;
        height: 15vh;
        line-height: 0%;
        text-align: center;
    }
    .discount_color {
        width: 80%;
        background-color:#A1BB23;
        border-radius: 15px;
        margin-top: 6%;
    }
    .products_discount {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 1%;
        padding-right: 0%;
        align-items: center;
        justify-items: center;
        margin-top: 0px;
        place-items: none;
        padding: 5%;
    }
    .cont1 .tittles h2{
        color: #A1BB23;
        text-shadow: 1px -2px 4px #A1BB23;
        font-size: 160%;
    }
    
    .cont1 .tittles h3{
        color:#6B4522;
        font-size: 100%;
        text-shadow: 1px -1px 6px #6B4522;
    }
    .markets {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        margin-top: 30px;
    }
}

@media screen and (max-width: 844px) {
    .cont1{
        display: flex;
        width: 100%;
        height: 50vh;
        line-height: 2%;
        align-items: center; 
        justify-content: center;
        flex-direction: column-reverse;
    }
    .cont1 .tittles{
        width: 100%;
        height: 15vh;
        line-height: 0%;
        text-align: center;
    }
    .cont1 .tittles h2{
        color: #A1BB23;
        text-shadow: 1px -2px 8px #A1BB23;
        font-size: 180%;
    }
    
    .cont1 .tittles h3{
        color:#6B4522;
        font-size: 180%;
    }
    .slide {
        width: 100%;
        max-width: none;
        height: 30vh;
        padding: 0;
        overflow: none;
        border-radius: 0%;
        box-shadow: 5px -2px 10px #6B4522;
    }
    
    .slide ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0; /* cristian */
        width: 400%;
        animation: slide 10s infinite alternate ease-in-out;
    }
    
    .slide li {
        width: 100%;
        list-style: none;
        height: 100vh;
        /* cubic-bezier(0.55, 0.48, 0.37, 0.92) */
    }
    
    .slide img {
        width: 100%;
        margin: 0;
        height: 30vh;
    }
    .discount_color{
        width: 100%;
    }
    .discount_color .products_discount{
        width: 100%;
    }
    .center_productsDiscount {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5%;
    }
    .center_productsDiscount h2,
    .title_recommended_markets h2,
    .featured_product_title {
        margin-top: 0px;
        font-size: 160%;
        color: #6B4522;
        font-weight: 800;
        margin: 0;
        text-align: center;
    }
    .featured_product_title {
        margin-top: 30px;
    }
    .center_productsDiscount .featured_phrase_home,
    .featured_product p,
    .title_recommended_markets p {
        padding: 0;
        margin: 0px 0 0px 0;
        /* font-weight: 500; */
        font-size: 100%;
        text-align: center;
    }
    .featured_product {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .discount_color {
        width: 80%;
        background-color:#A1BB23;
        border-radius: 15px;
        margin-top: 6%;
    }
    .products_discount {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 1%;
        padding-right: 0%;
        align-items: center;
        justify-items: center;
        margin-top: 0px;
        place-items: none;
        padding: 5%;
    }
    .featured_product_title {
        margin-top: 10px;
    }
    .see_more_discount {
        width: 30%;
        margin-top: 15px;
        padding: 8px 10px;
    }
    
    .Cont_markets {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 8%;
    }
    .Cont_markets h2{
        text-align: center;
        font-size: 160%;
    }
    .Cont_markets p{
        text-align: center;
        font-size: 95%;
    }
    .products_ {    
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-auto-rows: minmax(20px, auto);
        grid-gap: 20px;
        padding-right: 6%;
        width: 90%;
        margin-top: 0px;
        place-items: center;
    }
    
    .markets {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        margin-top: 30px;
    }
}

@media screen and (max-width: 576px) {
    /* Adjustments for screens up to 576px width */
    .cont1 .tittles h2 {
        font-size: 30px; /* Decrease font size for smaller screens */
    }
    
    .cont1 .tittles h3 {
        font-size: 20px; /* Decrease font size for smaller screens */
    }
    
    .slide img {
        background-image: none; /* Adjust image height for smaller screens */
    }
}