header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6B4522;
    height: 70px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
}

.image_perfil{
    border-radius: 50%;
}

.title_merCampesino {
    display: flex;
    color: white;
}

.title_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    border-left: 2px solid white;
    font-size: 10px;
    height: 50px;
    margin-left: 10px;
    padding-left: 15px;
}

.title h1 {
    margin-top: 5px;
    font-weight: 400;
}

.title p {
    margin-top: -15px;
    font-size: 13px;
}

.img_header {
    display: flex;
    justify-content: space-evenly;
    /* width: 200px; */
}

.img_header button{
    cursor: pointer;
    background-color: #6B4522;
    border: 0px solid #6B4522;
}

.navbar_img {
    display: flex;
    align-items: center;
}

.img_bell,
.img_cart,
.image_perfil {
    width: 24px;
    height: 25px;
}
    
.navbar {
    color: white;
}

.popover {
    transform: translateX(-150px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.popover a, 
.popover button {
    color: #6B4522;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 10px;

    &:hover 
    {
        color: white;
        background-color: #6B4522;
        width: 90%;
        align-items: center;
        justify-content: center;
        display: flex;
        

    }
}

.img_header button svg {
    fill: white;
}

.auth_links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.auth_links a{
    color:#ffffff;
    text-decoration: none;
    /* margin-left: 6px; */
    padding: 4px 6px;
    border-radius: 10px;
}

.auth_links a:hover{
    color:#6B4522;
    background-color: #F4F2DC;

}

.registerauth{
    margin-left: 10px;
    margin-right: 5px;
}
@media only screen and (max-width: 1024px) {

    header {
        justify-content: space-between;
        padding-left: 35px;
    }
}

@media only screen and (max-width: 768px) {

    .img_header {
        width: 90px;
    }
}

@media only screen and (max-width: 715px) {

    .logo {
        margin-left: 10px;
        width: 35px;
        height: 55px;
    }

    .title {
        height: 45px;
        margin-left: 6px;
        padding-left: 7px;
        display: flex;
        align-items: center;
    }

    .title h1 {
        /* width: 230px; */
        margin-bottom: 12px;
        font-size: 18px;
    }

    .title p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 715px) {

    .logo {
        margin-left: 10px;
        width: 25px;
        height: 45px;
    }

    .img_header {
        width: 60px;
        margin-right: 0px;
        padding: 06;
    }

    .title {
        height: 35px;
        margin-left: 4px;
        padding-left: 5px;
        display: flex;
        align-items: center;
    }

    .title h1 {
        width: 220px;
        margin-bottom: 12px;
        font-size: 15px;
    }

    .title p {
        font-size: 10px;
    }
}


@media only screen and (max-width: 510px) {

    .auth_links{
        font-size: 16px;
    }}



@media only screen and (max-width: 426px) {

    .auth_links{
        font-size: 14px;
    }

    .logo {
        margin-left: 10px;
        width: 25px;
        height: 45px;
    }

    .img_header {
        width: 60px;
        margin-right: 20px;
    }

    .title {
        height: 35px;
        margin-left: 4px;
        padding-left: 5px;
        display: flex;
        align-items: center;
    }

    .title h1 {
        width: 220px;
        margin-bottom: 12px;
        font-size: 15px;
    }

    .title p {
        font-size: 10px;
    }
}