.carrito {
    background-image: url(/images/HojasShopping.png);
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: 55px;
    right: 170px;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    border: .5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    width: 500px;
}

.carrito img {
    margin-right: 30px;
    border: #6B4522 solid 2px;
    border-radius: 25px;
    width: 85px;
}

.carrito .removeButton,
.carrito .increaseButton {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #6B4522;
    color: #ffffff;
    margin-left: 5px; 

    &:hover {
        background-color: #72583f;
    }
}

.carrito .deleteButton {
    color: rgb(226, 29, 29);
    background-color: #6b452200;
    display: flex;
    align-items: center;
    font-weight:600;
    font-size: 20px;
}

.carrito .deleteButton:hover {
    transform: translateY(-2px);
}

.deleteButton {
    position: relative;
    right: 0;
}

.carrito strong {
    font-size: 30px;
    color: #6B4522;
}

.item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    background-color: #EEE9B4;
    border-radius: 15px;
    margin-bottom: 10px;
    flex-wrap: wrap;

    & .item-info {
        display: flex;
        align-items: center;
    }
}

.item-list {
    margin: 0;
    padding: 0;
}

.cont-info-product {
    display: flex;
    flex-direction: column;
}

.cont-info-product hr {
    border: #6B4522 solid 1px;
    width: 150px;
    margin: 0;
}

.info-name {
    display: flex;
    justify-content: left;
}

.info-name h3 {
    margin: 0;
    color: #6B4522;
}

.info-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.compra {
    padding: 10px 15px;
    color: #ffffff;
    border-radius: 10px;
    background-color: #6B4522;
    text-decoration: none;

    &:hover {
        background-color: #6f5339;
        transform: translateY(-2px);
    }
}

.info-cant {
    font-size: 13px;
    padding-right: 10px;
}

@media only screen and (max-width: 768px) {
    .carrito {
        right: 100px;
    }
}

@media only screen and (max-width: 425px) {
    .carrito {
        right: 12px;
        width: 400px;
    }
}

@media only screen and (max-width: 375px) {
    .carrito {
        right: 50px;
    }
}