.full-reg-content {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #6B4522;
    overflow: hidden;
}

.buttonreg p{
    color: white;
}

.buttonreg a{
    color: white;
}

.form-reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 70%;
}

.regresar {
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: 10000;
}

.regresar_reg {
    color: #fff;
    margin: 10px;
    background-color: #ffffff00;
    border: none;
    border-bottom: 1px solid;
}

.regresar_reg:hover {
    color: #ababab;
}

.reg-header {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

/* .header-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
    border-left: 3px solid white;
    width: 300px;
    height: 60px;
    margin-left: 1px;
    padding-left: 15px;

    & h1 {
        margin: 0;
        height: fit-content;
    }

    & p {
        margin: 0;
        height: fit-content;
        font-size: 13px;
    }
} */

.register-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-sections {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.seller-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.selections {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: start;
    border-radius: 10px;
    color: white;

    label {
        width: 48%;
    }

    select {
        border: 1px solid #6B4522;
        height: 35px;
        width: 100%;
        font-size: 16px;
        border-radius: 10px;
    }
}

.submit {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #F4F2DC;
    color: #6B4522;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.image-register {
    background-image: url(/public/images/imagen_login.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 35%;
    height: 100%;
}

.checkboxs {
    color: white;
    text-align: center;

    input {
        margin-left: 20px;
    }

    label {
        margin-left: 5px;
    }
}

.subir_img {
    display: inline-block;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 4px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    width: 180px;
    align-items: center;
    /* transition: background-color 0.3s ease; */
}

.subir_img:hover {
    background-color: #e0e0e0;
}

.subir_img input[type="file"] {
    display: none;
}

.subir_img img {
    width: 30px;
    padding-left: 10px;
}

.buttonreg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 1440px) {
    .form-reg {
        width: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    .form-reg {
        width: 100%;
    }
    .image-register {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .form-sections {
        flex-wrap: wrap;
    }

    .full-reg-content {
        overflow: auto;
        height: 1000px;
    }

    .reg-header img {
        width: 50px;
        margin-right: 20px;
    }

    .header-text {
        border-left: 2px solid white;
        font-size: 10px;
        height: 45px;
        margin-left: 8px;
        padding-left: 9px;
    }

    .header-text h1 {
        width: 220px;
        font-size: 17px;
    }

    .header-text p {
        font-size: 11px;
    }
}