.bodybuy{
    background-color: #6B4522;
    display: flex;
    margin: 30px 20% 30px 20% ;
    padding: 20px 10px;
    border-radius: 20px;
    flex-direction: column;
}

.a_titlebuy {
    text-decoration: none;
    color: #ffffff;
}

.mercadopago{
    margin: 0 30% 0 30%;
}

.title_headerbuy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_merCampesinobuy {
    display: flex;
    width: 40%;
    justify-content: center;
}

.titlebuy {
    border-left: 2px solid white;
    font-size: 10px;
    height: 50px;
    margin-left: 10px;
    padding-left: 15px;
}

.titlebuy h1 {
    margin-top: 5px;
    font-weight: 400;
}

.titlebuy p {
    margin-top: -15px;
    font-size: 13px;
}

.productsshoppingbuy{
    background-image: url(/images/HojasShopping.png);
    margin: 30px 10% 30px 10% ;
    border-radius: 20px;

}

.productsshoppingbuy h1{
    color: #6B4522;
    text-align: center;
    font-size: 22px;
}

.itembuy{
    background-color: #EEE9B4;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px;
    align-items: center;
    margin: 0 10% 0 10%;
    margin-bottom: 20px;
}

.itembuy img{
    /* mask-image: linear-gradient(white 80%, transparent); */
    border: 1px solid #6B4522;
    border-radius: 10px;
}

.itembuy hr{
    border: 1px solid #A1BB23;
}

.info-namebuy h3{
    color: #6B4522;
    margin-bottom: -5px;
}

.remove_increase_buttonbuy button{
    background-color: #A1BB23;
    border: 1px solid #A1BB23;
    margin-right: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.deleteButtonbuy{
    background-color: #EEE9B4;
    border: 1px solid #EEE9B4;
    font-weight: 600;
    color: rgb(206, 42, 42);

}

.hrtotal{
    border: 1px solid #6B4522;
    width: 50%;
}

.comprabuy{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 20px 20% 20px 20%;
}
.comprabuy strong{
    color: #6B4522;
    font-size: 20px;
}

.comprabuy button{
    background-color: #A1BB23;
    border: 1px solid #A1BB23;
    border-radius: 5px;
    padding: 5px 10%;
    color: white;
}

@media screen and (max-width: 1167px) {
    .title_merCampesinobuy{
        width: 50%;
    }
}

@media screen and (max-width: 940px) {
    .title_merCampesinobuy{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .title_merCampesinobuy{
        width: 70%;
    }

    .itembuy{
        display: flex;
        flex-direction: column;
        margin: 0 6% 0 6%;
    }

    .itembuy img{
        width: 150px;
        height: 150px;
    }

    .remove_increase_buttonbuy{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 681px) {
    .title_merCampesinobuy{
        width: 80%;
    }

    .mercadopago{
        margin: 0 60% 0 60%;
    }

    
}

@media screen and (max-width: 681px) {
    .title_merCampesinobuy{
        width: 70%;
    }

    .bodybuy{
        margin: 30px 10% 30px 10% ;
    }
}

@media screen and (max-width: 681px) {
    .title_merCampesinobuy{
        width: 85%;
    }
}

@media screen and (max-width: 681px) {
    .title_merCampesinobuy{
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .title_merCampesinobuy{
        width: 95%;
    }

    .bodybuy{
        margin: 30px 5% 30px 5% ;
    }
}

@media screen and (max-width: 425px) {
    .title_merCampesinobuy{
        width: 87%;
    }

    .bodybuy{
        margin: 30px 0% 30px 0% ;
    }
}

@media screen and (max-width: 354px) {
    .title_merCampesinobuy{
        width: 100%;
    }
    
    .productsshoppingbuy {
        margin: 30px 5% 30px 5%;
    }

}
